/* Variables
================================== */
/* Tables
================================== */
.Rtable {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 20px;
    width: 95%;
    position: absolute;
    z-index: 0;
  }
  .Rtable-cell {
    box-sizing: border-box;
    -webkit-box-flex: 1;
            flex-grow: 1;
    width: 100%;
    padding: 0.5em 1em;
    overflow: hidden;
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
  }
  .t-heading {
    text-align: center;
    height: 88px;
    text-decoration: underline;
  }

  .Rtable-cell > * {
    margin: 0;
    padding: 0 1em;
  }
  /* Table column sizing
  ================================== */
  .Rtable--2cols > .Rtable-cell {
    width: 50%;
  }
  .Rtable--3cols > .Rtable-cell {
    width: 33.33%;
  }
  .Rtable--4cols > .Rtable-cell {
    width: 25%;
  }
  .Rtable--5cols > .Rtable-cell {
    width: 20%;
  }
  .Rtable--6cols > .Rtable-cell {
    width: 16.6%;
  }
  /* Apply styles
  ================================== */
  .Rtable {
    position: relative;
    top: 3px;
    left: 3px;
  }
 
  
  /* Responsive
  ==================================== */
  @media all and (max-width: 500px) {
    .Rtable--collapse {
      display: block;
    }
    .Rtable--collapse > .Rtable-cell {
      width: 100% !important;
    }
    .Rtable--collapse > .Rtable-cell--foot {
      margin-bottom: 1em;
    }
    .t-heading {
      display: none;
    }
  }
  .no-flexbox .Rtable {
    display: block;
  }
  .no-flexbox .Rtable > .Rtable-cell {
    width: 100%;
  }
  .no-flexbox .Rtable > .Rtable-cell--foot {
    margin-bottom: 1em;
  }
  
  